<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Spring Boot Sample -- User List</title>

    <meta name="description" content="spring boot, thymeleaf, bootstrap"/>
    <meta name="author" content="tsengyi"/>
    <link th:href="@{'/css/bootstrap.min.css'}" href="css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{'/css/style.css'}" href="css/style.css" rel="stylesheet"/>
    <title>用户编辑</title>

</head>

<body>

<form name="aform" method="post" th:object="${user}">
    <table>
        <thead>
        <tr>
            <th colspan="2">用户编辑
                <input type="hidden" th:field="*{id}"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>用户名</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" name="password" value=""/></td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>手机</td>
            <td><input type="text" th:field="*{mobile}"/></td>
        </tr>
        <tr>
            <td>地址</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>

</html>
