<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户列表</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery("button[name=deleteById]").click(function() {
                var id = this.value;
                jQuery.ajax({
                    type : 'DELETE',
                    url  : 'delete/' + id,
                }).done(function( msg ) {
                     alert(msg );
                });
            })

             jQuery("#toggleCheck").click(function() {
                jQuery("input[name=ids]").prop('checked', this.checked)
            })

            jQuery("#deleteChoose").click(function() {
                var ids = jQuery('input[name=ids]:checked').map(function(i,n) {
                    return jQuery(n).val();
                }).get();
                jQuery.ajax({
                    type : 'POST',
                    traditional : true,
                    data : {ids : ids},
                    url  : 'deletes',
                }).done(function( msg ) {
                     alert(msg );
                });
            })

        });



    </script>
</head>

<body>


<table>
    <thead>
    <tr>
        <th><input type="checkbox" id="toggleCheck"/>全选</th>
        <th>账号</th>
        <th>昵称</th>
        <th>姓名</th>
        <th>邮件</th>
        <th>手机</th>
        <th>
            <a th:href="@{'/user/add'}">新增</a>
            <button id="deleteChoose">删除选中</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><input type="checkbox" name="ids" th:value="${user.id}"/></td>
        <td th:text="${user.username}">zhangsan</td>
        <td th:text="${user.username}">小张</td>
        <td th:text="${user.username}">张三</td>
        <td th:text="${user.email}">zhangsan@sample.com</td>
        <td th:text="${user.mobile}">18888888888</td>
        <td>
            <a th:href="@{'/user/edit/'+${user.id}}">Edit</a>
            <button name="deleteById" th:value="${user.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>

</body>

</html>
