<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="__${decorator}__">


<head>
    <title>用户列表</title>

    <style>
        .table-striped > tbody > tr:nth-child(odd) {
            background-color: #eef;
        }

        .table-striped > tbody > tr:nth-child(even) {
            background-color: #ffe;
        }
    </style>
</head>

<body>
    

<table class="table table-hover table-bordered table-striped" layout:fragment="content">
    <thead>
    <tr>
        <th>账号</th>
        <th>昵称</th>
        <th>姓名</th>
        <th>邮件</th>
        <th>手机</th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" class="found">
        <td th:text="${user.username}">zhangsan</td>
        <td th:text="${user.username}">小张</td>
        <td th:text="${user.username}">张三</td>
        <td th:text="${user.email}">zhangsan@sample.com</td>
        <td th:text="${user.mobile}">18888888888</td>
        <td>
            <a th:href="@{'/user/edit/'+${user.id}}">Edit</a>
            <button name="deleteById" th:value="${user.id}">删除</button>
        </td>
    </tr>

    </tbody>

</table>
<script>
    jQuery(document).ready(function () {
        jQuery("button[name=deleteById]").click(function () {
            var id = this.value;
            jQuery.ajax({
                type: 'DELETE',
                url: 'delete/' + id,
            }).done(function (msg) {
                alert(msg);
            });
        })

        jQuery("#toggleCheck").click(function () {
            jQuery("input[name=ids]").prop('checked', this.checked)
        })

        jQuery("#deleteChoose").click(function () {
            var ids = jQuery('input[name=ids]:checked').map(function (i, n) {
                return jQuery(n).val();
            }).get();
            jQuery.ajax({
                type: 'POST',
                traditional: true,
                data: {ids: ids},
                url: 'deletes',
            }).done(function (msg) {
                alert(msg);
            });
        })

    });
</script>
</body>

</html>
